.container#tema_3

    .header-ecored
        h1 3. Segmentación de mercados 

    .jumbotron.bg-white
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/kODlxbwfCSU', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', 
              allowfullscreen='')             

    .jumbotron.bg-white
      .row.mb-5        
        .col-12
          .header-ecored.mt-3#tema3_1
            h2 3.1 Etapas del proceso de segmentación

      .row.justify-content-center.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_3/img_3_1_01.svg", alt="", style="width:300px")                 
        .col
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p #[strong Planeación:] se definen los perfiles que se van a atender de acuerdo con variables demográficas, geográficas, psicográficas y conductuales.
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p #[strong Selección del mercado meta:] se define teniendo en cuenta los competidores, el poder adquisitivo del cliente, recursos de oferta y demanda del mercado.
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p #[strong Posicionamiento:] se planea la estrategia para satisfacer a cada segmento seleccionado desarrollándolo de acuerdo con la mezcla de mercadeo. 

    .jumbotron.bg-white
      .row.mb-5        
        .col-12
          .header-ecored.mt-3#tema3_2
            h2 3.2 Criterios de segmentación

      .row.justify-content-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_2_01.svg", alt="", style="width:100%").img-fluid 

      .row
        .col-12
          p.mb-4 Dividir al mercado en grupos con base en variables: 
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p #[strong Demográficas:] edad, género, tamaño de la familia, ciclo de vida familiar, nivel de ingresos, ocupación, educación, religión, raza, generación, nacionalidad.    
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p #[strong Geográficas:] país, región, municipio, barrio, densidad poblacional, clima.    
          .list
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p #[strong Psicográficas:] clase social, estilo de vida, personalidad, comportamiento de compra, actitudes frente a la marca. 
          .list
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p #[strong Conductuales:] hábito de consumo, beneficios, estatus del usuario, frecuencia de uso, actitud hacia el producto.

    .jumbotron.bg-white
      .row.mb-5        
        .col-12
          .header-ecored.mt-3#tema3_3
            h2 3.3 Macro y microsegmentación
      
      .row.justify-content-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/img_3_3_01.svg", alt="", style="width:100%").img-fluid 

      .row
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p #[strong Macrosegmentación.] Es la división del mercado en la que se definen las coordenadas en las que queremos competir en el mercado como son: la necesidad que se quiere satisfacer, las tecnologías de soporte que van a satisfacer las necesidades y los grupos de clientes a los cuales se dirige la estrategia. La macrosegmentación va más direccionada a las oportunidades dentro del análisis estratégico. 
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p #[strong Macrosegmentación.] Permite identificar al público objetivo con el fin de responder a necesidades específicas de acuerdo con el análisis de factores:
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt
                  p #[strong Sociodemográficos:] relacionados con la edad, género, educación, nivel de estudios.
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt
                  p #[strong Ventaja buscada:] se identifican los clientes de acuerdo con lo que esperan del producto, la ventaja más buscada es el precio.
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt
                  p #[strong Estilos de vida:] son moldeados por tendencias de moda. Por ejemplo, los vegetarianos.
              .list
                .list__item
                  .list__item__icon
                    img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                .list__txt
                  p #[strong Hábitos de compra:] se basan de acuerdo con el criterio conductual del individuo. 


      


              
              



        