.container#tema_2

    .header-ecored
        h1 2. Analítica de datos   
    
    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema_2_2
            h2 2.2 Retorno sobre la inversión ROI

      .row.justify-content-center
        .col-12
          p.mb-5 El ROI, del inglés #[i Return On Investment], es el índice que mide la rentabilidad de las inversiones de la empresa.
          p En publicidad online, el ROI nos indica la rentabilidad de nuestra inversión publicitaria y se calcula de la siguiente forma:
      
        .col-12.col-lg-6.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/info_2_2_01.svg", alt="", style="width:100%").img-fluid 

      .jumbotron
        .row        
          .col-auto
            img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="", style="width:65px")
          .col          
            p.mb-0 #[strong Ejemplo.] Una fábrica de conservas realiza una campaña publicitaria su último producto desarrollado, mermelada de grosellas, cuya inversión fue de $10.000.000 y obtuvimos unas ventas de $8.000.000 nuestro ROI fue del 80%, o lo que es lo mismo, la rentabilidad de la empresa fue del 80%.