.container#tema_1_1

    .header-ecored
        h1 1.	El comportamiento del consumidor

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3
            h2 1.1 Calendario de actuación

      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_1_01.svg", alt="", style="width:100%").img-fluid 
        .col-12
          p El calendario de actuación es un documento de control que permite identificar y planear la línea de tiempo en la que se realizará la difusión de contenidos de la empresa en las redes sociales.
          p De acuerdo con las estrategias planteadas en el plan de #[i marketing], es necesario elegir el medio o redes sociales en que se va a realizar la difusión de la información, esta elección se realiza con base en la normatividad de las diferentes redes sociales y su función, se elige la red social o medio digital más adecuado para la publicación de contenidos de la empresa. Cada red social permite llegar al público objetivo por medio de la segmentación y ubicación de los clientes meta partiendo de la publicidad de pago la cual se beneficia por la posibilidad de segmentar por edad, género o ubicación para así llegar a los posibles clientes potenciales.
          p.mb-5 Así mismo, es necesario definir los objetivos de difusión, los cuales deben caracterizarse por cumplir con los criterios de los objetivos SMART para así mismo dar respuesta a los objetivos de la estrategia de la empresa. Son de vital importancia en el seguimiento de los indicadores y medición de la campaña, estos pueden ser: 
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-2 #[strong De posicionamiento de marca o #[i branding]]
              p En los cuales la empresa crea contenido relacionado con su producto o servicio con el fin de construir y afianzar su marca. También pueden crearse mensajes enfocados hacia el público objetivo.
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-2 #[strong Para la creación de audiencia]
              p Estos objetivos se relacionan con la obtención de clientes potenciales, captar audiencias y tener más seguidores. 
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-2 #[strong Para el registro o mejoramiento de las bases de datos]
              p Este tipo de objetivos le permite a la empresa generar #[i leads] y captar datos de personas interesadas y clientes meta, para posteriormente responder a estrategias de #[i e-mailing o e-mail] #[i marketing]; generalmente utiliza las redes sociales para recoger datos. 
        .col-12.mb-5
          p.mb-0 Adicional a lo anterior se requiere definir el propósito de los mensajes para cada una de las campañas publicitarias, es decir, el conjunto de contenidos de texto o gráficos de una pieza publicitaria pensados y elaborados para comunicar mensajes durante el periodo de difusión de la campaña, buscan cumplir con los objetivos de la estrategia digital y de acuerdo con el propósito y canal de difusión se define el lenguaje a utilizar en la comunicación.  Como se observa en la figura el propósito de la comunicación define el tono y el carácter del mensaje y puede tomar múltiples combinaciones. 

        .col-12
          .header-arrow.mb-5
            h3.text-center Propósito de comunicación en redes sociales 

        .col-12.col-lg-8.d-flex.justify-content-center.mt-4.mb-4
          img(src="assets/images/pages/tema_1/info_1_1_01.svg", alt="", style="width:100%").img-fluid 
        .col-12.mb-5
          p.text-center Fuente: Núñez (2012)
        .col-12
          p Los mensajes en redes sociales se refuerzan con las palabras claves y #hashtags, son factores de potenciamiento en las búsquedas y el posicionamiento SEO de los sitios #[i web], contribuyen al aumento de #[i leads] y generan tráfico.  Hacen parte de la estrategia de contenido, y orientan a la empresa a entender en qué forma las personas llegan a la página web de acuerdo con su búsqueda.
          p El calendario de actuación precisa el presupuesto de la campaña publicitaria y los insumos multimediales a realizar tales como: textos, imágenes, videos, infografías, #[i e-book], etc. La adecuada planificación y ejecución conllevan a que la empresa obtenga presencia y posicionamiento de marca, conversión de #[i leads], fidelización de clientes, incremento en las ventas, entre otros.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Google Adwords

        .col-12.mb-5
          p Es la plataforma publicitaria digital más grande del mundo y es administrada por Google, el motor de búsqueda más utilizado a nivel mundial y el sitio #[i web] más visitado diariamente. Esta plataforma publicitaria está conformada por dos redes principales:

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_1_02.svg", alt="",style="width:250px")      
        .col-12.col-lg-7
          p.mb-2 #[strong Red de búsqueda]
          p.mb-0 Está conformada por los resultados de búsqueda que se hacen en Google y etiquetados con la palabra “Anuncio”. Esta red permite aparecer en posiciones destacadas cuando un usuario realiza una búsqueda semejante con el objeto de la búsqueda; es decir, con palabras claves relacionadas.    

      .hr-divider.mb-5

      .row.justify-content-center.align-items-center.mb-6
        .col-12.col-lg-7.order-2.order-lg-1        
          p.mb-2 #[strong #[i Red display]]
          p.mb-0 Está conformada por todos los portales y sitios asociados a Google a través de Adsense o en sitios que pertenecen a Google como Gmail o YouTube. Esta red permite llegar a un gran número de personas y generar un alto posicionamiento de marca. 
        .col-12.col-lg-auto.d-flex.justify-content-center.order-1.order-lg-2.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_1_03.svg", alt="",style="width:250px") 
      .row
        .col-12.mb-5
          p Google permite llegar a segmentos muy específicos de la población, estos deben estar previamente caracterizados para realizar de la forma más eficientemente posible el desarrollo de las estrategias de comunicación.Google permite llegar a segmentos muy específicos de la población, estos deben estar previamente caracterizados para realizar de la forma más eficientemente posible el desarrollo de las estrategias de comunicación.

      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_01.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Geografía]
          p.mb-0 Determina la zona geográfica donde se van a mostrar los anuncios publicitarios; se puede llegar estratégicamente a un país, departamento, ciudad o zona circundante, dependiendo obviamente de la capacidad de cobertura que tenga la empresa.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_02.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Visibilidad]
          p.mb-0 Esta característica de los anuncios de Google permite llegar únicamente a las personas que realizan búsquedas relacionadas con la empresa o producto que se está anunciando y discriminando palabras que no son del interés de la empresa; De ahí la importancia de hacer una correcta selección de las palabras claves.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_03.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Presupuesto]
          p.mb-0 La plataforma brinda la posibilidad de que casi cualquier empresa independiente del presupuesto que maneje, puede acceder a la estrategia de publicidad en Google Adwords. Adicional, Google limitó la cantidad de anuncios que una empresa puede publicitar a 1, de esta forma se hizo equitativo el modo de promocionarse independiente del presupuesto que se tenga.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_04.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Edición de anuncios]
          p.mb-0 una de las grandes ventajas que tiene esta plataforma y en general la publicidad digital, es la posibilidad de hacer correcciones a los anuncios, pausar las campañas y las palabras claves cuando se considere necesario.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_05.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Pago por clic]
          p.mb-0 Consiste en pagar únicamente cuando un usuario hace clic sobre el anuncio.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_06.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Subasta]
          p.mb-0 esta es una metodología que consiste en que la empresa que está dispuesta a gastar un presupuesto mayor que el de las demás, es quien pone su anuncio en un espacio determinado, esta decisión debe tomarse con base en el CPC máximo que la empresa está dispuesta a pagar por poner un anuncio en la red. La puja se realiza en segundos y se toma la decisión de forma rápida.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_07.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Programación]
          p.mb-0 Cada campaña se puede programar en días y horas específicas, dependiendo del tipo de producto o servicio y del mercado objetivo al que se dirige la campaña.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_1_08.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Características demográficas]
          p.mb-0  De la misma forma que otras plataformas de publicidad digital, en Google es posible también segmentar el mercado por edad, sexo o ingreso familiar.

      .hr-divider.my-6
      
      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Selección de palabras claves
        .col-12.mb-4
          p La selección de las palabras claves es un elemento de gran importancia en el desarrollo de una campaña, para cada producto o servicio es necesario seleccionar palabras que concuerden y sean eficaces en el proceso de búsqueda, encontrando:
        .col-12
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-0 #[strong Concordancia amplia:] en este punto Google escogerá cualquier palabra de la frase que se haya creado para mostrar anuncios con búsquedas que incluyan una de esas palabras. Esta acción pude generar errores en el desarrollo de las campañas porque la búsqueda se hace más general. 
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-0 #[strong Concordancia de frase:] en este caso Google mostrará anuncios que contengan la frase o variaciones ligeras de esta. Con esta concordancia de frase se tiene un control superior sobre las búsquedas que pueden activar los anuncios de la empresa. 
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-0 #[strong Concordancia exacta:] este tipo de concordancia activará los anuncios con búsquedas que tengan la palabra exacta o variaciones de ella. De esta forma se tiene control absoluto de los anuncios, es la mejor alternativa en una campaña de Adwords.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p.mb-0 #[strong Concordancia negativa:] con este tipo de concordancia lo que se busca es restringir frases que no se desea que activen los anuncios de la empresa.

        .col-12.mb-5
          p #[i Google Adwords] es una excelente herramienta y alternativa para llegar al mercado de forma masiva y efectiva. Google permite el desarrollo de campañas y estrategias de comunicación que representen un alto nivel de efectividad, además es una plataforma compleja y amplia que implica para las empresas la asesoría de expertos en el área para minimizar los riesgos de las inversiones.

    .jumbotron.bg-white  
      .row.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Ejemplo de la creación de campaña publicitaria en Google Ads   
      .row      
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/pU7qyTABy6k', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

    .jumbotron.bg-white  
      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Aplicación del calendario de actuación 
      .row      
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/JnTTpsrnOWE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')