.container#tema_1

    .header-ecored
        h1 1.	El comportamiento del consumidor

    .jumbotron.bg-white
      .row     
        .col-12
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/dhSD-ndBs6g', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    .jumbotron.bg-white
      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Comportamiento del consumidor en línea

      .row.justify-content-center.mb-5
        .col-12
          p El estudio del perfil y las conductas de compra del consumidor #[i online] han permitido caracterizar al consumidor en el entorno digital, entre ellos encontramos:
        .col-10.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1/icon_1_01.svg", alt="")
              .card__copy
                p.mb-2 #[strong Buscadores de información determinada]
                p.mb-0 Usuarios que no planean comprar en línea, solo quieren saber acerca del producto o servicio.
        .col-10.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1/icon_1_02.svg", alt="")
              .card__copy
                p.mb-2 #[strong Buscadores de información indeterminada]
                p.mb-0 son los usuarios que disfrutan de navegar en uno o varios sitios #[i web], tienden a ser usuarios novatos y son más propensos a hacer clic en los banners.
        .col-10.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1/icon_1_03.svg", alt="")
              .card__copy
                p.mb-2 #[strong Buscadores de experiencias]
                p.mb-0 son los usuarios que buscan entretenimiento, diversión y esparcimiento, mediante juegos interactivos en la #[i web], plataformas de video o música bajo demanda, entre otros. 
        .col-10.col-lg-9
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1/icon_1_04.svg", alt="")
              .card__copy
                p.mb-2 #[strong Cazadores de ofertas]
                p.mb-0 son los usuarios que buscan ofertas o concursos gratuitos en redes sociales y páginas #[i web]. 
        .col-10.col-lg-9.mb-5
          .card-media
            .card-media__body
              .card__figure
                img(src="assets/images/pages/tema_1/icon_1_05.svg", alt="")
              .card__copy
                p.mb-2 #[strong Compradores específicos]
                p.mb-0 como su nombre lo dice son aquellos usuarios que compran productos o servicios específicos en línea, aunque no tengan acceso a descuentos o promociones. Por lo general ya conocen el producto o servicio o buscan referencias para finalizar la compra.
        .col-12
          p Comprender esta caracterización de los usuarios y analizar la multiplicidad de fuentes de información, brinda a las organizaciones la oportunidad de realizar análisis en tiempo real del comportamiento de los consumidores, para generar estrategias enfocadas en el contenido y la interacción.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Estrategias de contenido

      .row.justify-content-center
        .col-12.col-lg-10.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_01.svg", alt="", style="width:100%").img-fluid 
        .col-12
          p En el mundo del #[i marketing] digital el público objetivo tiene que recordar la marca de manera más afectiva que relacional, para el negocio es muy importante conocer qué es un #[i insight] ya que esto permitirá realizar estrategias más efectivas y orientadas a conocer, atraer y fidelizar al cliente.
          p Saber interpretar un #[i insight] permite comunicarse con los consumidores de una forma adecuada. El #[i insight] hace referencia a una motivación profunda del consumidor, en relación con su comportamiento, hacia una marca o producto.
          p.mb-0 Los #[i insight]s se basan en percepciones o experiencias que el consumidor tiene asociadas a una marca o producto, es decir, son aquellos aspectos inconscientes que el consumidor tiene en el transcurso de su compra. Los #[i insight]s requieren de un proceso de investigación y comunicación que ayude a revelar los pensamientos y sentimientos que tienen los consumidores para así conocerlos mejor, satisfacer sus necesidades reales y crear un vínculo con el target.
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_02.svg", alt="", style="width:100%").img-fluid 
        .col-12.mb-5
          p.mb-0 Un #[i insight] bien aplicado aportará al negocio innovación para que se adapten y desarrollen los productos o servicios para que sean realmente atractivos, interesantes y competitivos. Un #[i insight] bien expresado conseguirá que los equipos de diseño e innovación puedan desarrollar productos y servicios realmente interesantes y competitivos. Los #[i insights] son clave en toda estrategia de #[i marketing] de Contenidos de cualquier empresa. (Viñarás, 2018).          
        .col-12.mb-5
          p El #[i insight] es el canal por medio del cual el consumidor se conecta con la marca y le impulsa a continuar en el camino de la conversión, por lo cual se debe: 
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_01.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Analizar los datos]
          p.mb-0 se busca en varias fuentes de información, en el caso del #[i marketing] digital se analizan en #[i Google Analytics] de acuerdo con el comportamiento de compra del consumidor, identificando cual es el factor que lo empuja a la compra.
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_02.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong Observar el cliente]
          p.mb-0 se hacen estudios de experiencia del usuario como encuestas por las diferentes redes y en la página #[i web].
      .row.mb-5
        .col-auto
          img(src="assets/images/pages/tema_1/topic_1_03.svg", alt="",style="width:65px")
        .col
          p.mb-2 #[strong #[i Brainstorming]]
          p.mb-0 la empresa piensa en el cliente y desarrolla hipótesis donde se pregunta “¿Qué pensará el cliente cuando va a adquirir un producto?” 
      .row.mb-5                
        .col-12
          p Hay que tener claro que los insights son el punto de partida o la guía que lleva a la solución de las preferencias de los consumidores y ayudan a la empresa en la toma de decisiones de crear un producto de acuerdo con la demanda del mercado bajo tendencias o macrotendencias.

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 ¿Cómo hallar #[i insights]?

      .row.justify-content-center.mb-5
        .col-12.col-lg-auto.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_1/img_1_03.svg", alt="", style="width:300px").img-fluid 
        .col
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p.mb-0 Descubriendo la forma del cómo el consumidor se percibe y se concibe a sí mismo.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p.mb-0 Mirando el mercado tal como el consumidor lo mira (percibe). Esto es, mirar el mercado por y desde los ojos del consumidor.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span C
            .list__txt
              p.mb-0 Explorando la psicología profunda del consumo y el rol simbólico que ésta tiene para el consumidor.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span D
            .list__txt
              p.mb-0 Indagando, observando, escuchando y explorando. El insight no aparece fácilmente: hay que encontrarlo. La mejor manera de hacerlo es estando en contacto permanente y en forma profunda con nuestros consumidores.
          .list.mb-3
            .list__item
              .list__item__bulletNumber
                span E
            .list__txt
              p.mb-0 Usando el olfato e intuición psicológica. Un consumer insight tiene tanto de intuición como de hechos fácticos. (Roig, 2011)
      .row.justify-content-center.mb-5
        .col-12
          p.mb-0 Émile Durkheim a mediados del siglo XIX creó el método decir, sentir, actuar; muy eficaz para el hallazgo de insights; el cual, se representa a través de lo indicado por Consumer truth (2020):

      .row.justify-content-center.align-items-center.mb-5        
        .col-12.col-lg-7.order-2.order-lg-1
          p.mb-2 #[strong El decir del consumidor - Técnicas facilitadoras]
          p.mb-0 Trata de técnicas basadas en el decir del consumidor (expresión, ideas, conceptos, creencias en torno al consumo). A través de juegos de palabras, asociación de ideas, #[i brainstorming], collage de imágenes y otras tareas creativas, el consumidor es ayudado en su proceso de enunciar el porqué de su consumo y la relación estrecha que tiene (o no tiene) con los productos.
        .col-12.col-lg-auto.d-flex.justify-content-center.order-1.order-lg-2.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_04.svg", alt="",style="width:250px")  

      .hr-divider.mb-5

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_1/img_1_05.svg", alt="",style="width:250px")
        .col-12.col-lg-7
          p.mb-2 #[strong El sentir del consumidor – Técnicas proyectivas]
          p.mb-0 Trata de técnicas basadas en el sentir del consumidor (sentimientos y emociones profundas que despierta y suscita el consumo). Mediante técnicas basadas en conflictos emocionales, a través de frases/historias incompletas, etc., se logran obtener profundas expresiones emocionales que subyacen el consumo que a menudo son “constreñidas” por el uso de la razón y el imperio de la lógica.

      .hr-divider.mb-5  

      .row.justify-content-center.align-items-center.mb-6       
        .col-12.col-lg-7.order-2.order-lg-1
          p.mb-2 #[strong El actuar del consumidor – Técnicas etnográficas]
          p.mb-0 Trata de técnicas basadas en el hacer (la acción de compra y consumo). El consumidor es observado en su contexto natural y hábitat para observar “in situ” el comportamiento cotidiano, las dinámicas y rituales del consumo. Se basan en el fundamento que el consumidor suele decir una cosa y hacer otra, entonces es necesario acudir a la observación y no solo a la declaración. Entre estas técnicas se aplican el “Acompañamiento”, “One day in the life”, “Observación Participante”, “In Home Visit”, “Shopper Trips”, entre otras. 
        .col-12.col-lg-auto.d-flex.justify-content-center.order-1.order-lg-2.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_06.svg", alt="",style="width:250px")
      
      .row.mb-5
        .col-12
          p Como complemento del proceso de identificación de insights, se recomienda aplicar la pirámide de los insights que se basa en el trabajo de Mohan Sawhney (2003). Research that Produces Consumer Insights:  

      .row.justify-content-center.align-items-center.mb-6
        .col-12.col-lg-12.mb-4
          img(src="assets/images/pages/tema_1/info_1_01.svg", alt="",style="width:100%")
        .col-12
          p.text-center Fuente: SENA (2020), basada en Sawhney (2003)

      .hr-divider.my-5

      .row.mb-4
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Modelos de interacción social

      .row
        .col-12.mb-4
          p Para ganar visibilidad en los medios sociales es necesario contar con una estrategia que defina los objetivos de interacción con el consumidor, los cuales pueden centrarse en: 
        .col-12
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-2 #[strong La comunicación con el cliente]
              p Para lograr el reconocimiento de marca es posible comunicar a partir del storytelling, definido como el arte de contar historias usando técnicas inspiradas en escritores y guionistas para transmitir un mensaje de forma inolvidable, logrando que el consumidor comparta contenidos y la marca interactúe con los clientes; otra estrategia consiste en modificar las actitudes del cliente frente a la marca, las cuales se forman como resultado de la experiencia del consumidor con el producto (precio, calidad, marca), es decir, la percepción a partir de los comentarios, la frecuencia y cantidad de visitas en medios sociales; invitar a la acción es otra estrategia en la que la empresa o marca incentiva al usuario a dejar datos, recomendar, comentar a través de la landing page o un formulario y claro está a comprar. 
          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-2  #[strong Buyer persona o público objetivo]
              p.mb-5 Este es un perfil o arquetipo de cliente ideal para un producto o servicio, el cual se define mediante un instrumento que sirve para identificar los elementos demográficos, etnográficos y emocionales del consumidor, permitiendo crear un perfil de estilo de vida a través del cual se conocen las aspiraciones, intereses y opiniones del público objetivo, lo que permite crear contenido de valor que despierte el interés del usuario o que satisfaga sus necesidades.  
              .col-12
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    p #[strong Información demográfica:] edad, ubicación, ingresos, frecuencia de compra del cliente potencial.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    p #[strong Información de Interés:] perfil del consumidor, valores, intereses, vínculos afectivos, metas a corto y largo plazo, sus temores, etc.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    p #[strong Estilo de vida:] que música le gusta, qué revistas prefiere, redes sociales que frecuenta, qué sitios #[i web] visita, qué deporte practica, qué programas de TV prefiere, cuáles son sus pasatiempos, a dónde viaja cuando sale de vacaciones, entre otros ítems que la empresa considere para construir aún mejor el cliente perfecto.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    p #[strong Compras:] que compra, como lo compra en tienda física o por internet, que marca compra, cuál es la marca que desea alcanzar.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    p #[strong Definir un día en la vida de… :  ] se construye una rutina diaria de ese personaje que será el cliente ideal para la empresa, determinando cuál es su rutina desde que se levanta hasta que se acuesta, cada detalle le brinda a la empresa la posibilidad de enfocar de mejor manera la difusión en los medios.
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_single_chevron.svg", alt="")
                  .list__txt
                    p #[strong Definir el fin de semana en la vida de… :    ] ese personaje que será el cliente ideal para la empresa, a qué se dedica el fin de semana desde que se levanta hasta que se acuesta, a donde va, con quien sale, se viste de la misma manera que entre semana, a quien visita, hace deporte, va al club.
              .col-12
                p Se puede concluir que el #[i buyer] persona es la construcción del cliente potencial a partir de un estilo de vida.

          .list.mb-4
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-2 #[strong Customer Journey]
              p La empresa analiza visualmente mediante el #[i costumer journey]  el recorrido que realiza el cliente durante su experiencia antes y después de la toma de decisiones en la compra de un producto o servicio, lo que le permite identificar los #[i touchpoints] o puntos de contacto que estos tienen con la empresa para diseñar soluciones que satisfagan las necesidades o deseos del consumidor, este análisis permite alinear la visión de la empresa con la del cliente para redefinir sus experiencias. En este análisis es preciso identificar al cliente, comprender cómo se siente en cada interacción, registrar las indecisiones y las motivaciones, es decir, qué lo moviliza, mapear los recorridos o interacciones, analizar la experiencia y momentos claves, sin olvidar las experiencias negativas, las cuales serán un punto de mejora. 

      .row
        .col-12
          .jumbotron.mb-0
            P.mb-0 Aplicar los modelos de interacción en medios digitales le permite a la empresa comprender los #[i insights] del consumidor y crear experiencias que influencien la toma de decisiones de los usuarios, orientadas principalmente en el registro en la #[i landing page] y en la compra del producto o servicio. 